input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0 none;
  outline: 0 none;
  background-color: #fff; }

select {
  border: 0;
  outline: 0;
  border-radius: 0;
  background-color: #fff; }

.ellip {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.sign, .table-wrap .strong, .table-wrap th em {
  color: #fb6257; }

.signbg, .qa-wrap .qa_submit a {
  background-color: #fb6257; }

.noText, .sns-list li:first-child a {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden; }

.box-sizing, #wrap, .pocketForcket ul li, .services .textBox, .swiper-sns, .table-wrap td input[type="text"],
.table-wrap td input[type="email"],
.table-wrap td select,
.table-wrap td textarea, #footer, #footer .footerBottom a.lang p.kr {
  box-sizing: border-box; }

.floatClear, #wrap:after, .serviceList:after,
.serviceList ul:after, .sns-list:after, #footer .textBox:after, #footer .footerBottom:after {
  clear: both;
  display: block;
  content: ''; }

.lr, .pocketForcket, .serviceList {
  padding: 0 15px; }

.clamp, .services .textBox p, .services .textBox .subHead, .services.service04 .textBox p, .services.service04 .textBox .subHead, .swiper-sns > ul > li .textBox h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden; }

header {
  overflow: hidden;
  padding: 0;
  z-index: 1000;
  position: absolute; }

#videox {
  position: absolute;
  z-index: 100; }

#videox.on {
  display: block;
  width: 100%;
  height: 100%; }

#header {
  width: 100%;
  left: 0; }

#header.bg {
  background-color: #fb6257; }

#header.active .headerText {
  padding: 25px 20px; }

#header.active {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #fb6257;
  width: 100%; }

.swiper-container-android .swiper-slide:after, .swiper-wrapper:after {
  clear: both;
  display: block;
  content: ''; }

.headerText {
  padding: 15px;
  overflow: hidden;
  position: relative; }

.headerText:after {
  opacity: .5;
  height: 1px;
  background-color: #fff;
  position: absolute;
  content: '';
  bottom: 0;
  left: 15px;
  right: 15px; }

.headerText h1 {
  height: 25px;
  line-height: 25px;
  text-align: center; }

.headerText h1 img {
  width: 127px;
  height: auto; }

/* .headerText p{float:right; margin-top:-5px;}
.headerText p a{border-radius:20px; font-size:11px; text-align:center; box-sizing:border-box; display:inline-block; line-height:23px; height:25px;}
.headerText p a:first-child{border:1px solid #fff; width:62px; color:#fff; margin-right:3px;}
.headerText p a:last-child{background-color:#fff; width:62px;color:#fb6257; line-height:25px;}
 */
.sub-category-box {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10 !important;
  height: 40px; }

.sub-category-box.active {
  position: fixed;
  top: 0;
  left: 0; }

.sub-category-box ul li {
  width: 20%; }

.sub-category-box ul li:last-child {
  margin-right: 20px; }

.sub-category-box ul li > a {
  display: block;
  height: 100%;
  line-height: 40px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  opacity: .8; }

.sub-category-box ul li > a.active {
  color: #fff;
  font-weight: 600;
  opacity: 1; }

.sub-category-box ul li > a span {
  position: relative;
  top: 1px; }

.main-swipe-wrap {
  width: 100%;
  position: relative;
  overflow: hidden; }

.main-swipe-wrap > .swiper-wrapper > .swiper-slide {
  width: 100%;
  max-width: 100%;
  background-color: #fff; }

.service {
  margin: 33px 0;
  width: 100%; }

.imgBox img {
  width: 292px; }

.imgBox100 img {
  width: 100%; }

.service h2.bottom {
  padding: 0 0 28px; }

.swiper-slide .imgBox100 {
  line-height: 0; }

.service.noP {
  padding: 0; }

.service.noP h2 {
  padding: 39px 0 28px; }

#mainBanner {
  width: 100%;
  height: 478px;
  position: relative;
  overflow: hidden; }

#mainBanner .swiper-slide:after {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/homeDim.png") no-repeat;
  background-size: cover;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 10; }

#mainBanner .swiper-slide {
  position: relative; }

#mainBanner .mainRoll01 {
  background: url("../images/home_main01.jpg") no-repeat;
  background-size: cover; }

#mainBanner .mainRoll02 {
  background: url("../images/home_main02.jpg") no-repeat;
  background-size: cover; }

#mainBanner .mainRoll03 {
  background: url("../images/home_main03.jpg") no-repeat;
  background-size: cover; }

#mainBanner .mainRoll04 {
  background: url("../images/home_main04.jpg") no-repeat;
  background-size: cover; }

#mainBanner .mainRoll05 {
  background: url("../images/home_main05.jpg") no-repeat;
  background-size: cover; }

#mainBanner .mainRoll06 {
  background: url("../images/home_main06.jpg") no-repeat;
  background-size: cover; }

#mainBanner .mainRoll07 {
  background: url("../images/home_main07.jpg") no-repeat;
  background-size: cover; }

#mainBanner .what {
  position: absolute;
  bottom: 45px;
  font-size: 21px;
  color: #fff;
  width: 100%;
  text-align: center; }

#mainBanner .swiper-button-next,
#mainBanner .swiper-button-prev {
  top: 100%;
  margin-top: -63px;
  width: 20px;
  height: 30px;
  z-index: 20; }

#mainBanner .swiper-button-next {
  background: url("../images/leftArrow.png") no-repeat left top;
  background-size: 11px auto;
  left: 15px; }

#mainBanner .swiper-button-prev {
  background: url("../images/rightArrow.png") no-repeat right top;
  background-size: 11px auto;
  right: 15px; }

#mainBanner .play_video {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  z-index: 30; }

#mainBanner .play_video img {
  width: 47px;
  position: relative; }

#mainBanner.swiper-container-horizontal > .swiper-pagination {
  bottom: 15px;
  z-index: 20; }

#mainBanner.swiper-container-horizontal > .swiper-pagination.posSlider {
  top: 315px;
  left: 50%;
  margin-left: -68px;
  cursor: default;
  width: 138px;
  height: 53px;
  overflow: hidden; }

#mainBanner.swiper-container-horizontal > .swiper-pagination.posSlider span {
  display: none;
  width: 138px;
  height: 53px;
  margin: 0;
  border: 0;
  border-radius: 0; }

#mainBanner.swiper-container-horizontal > .swiper-pagination.posSlider span.swiper-pagination-bullet-active {
  display: block; }

#mainBanner.swiper-container-horizontal > .swiper-pagination.posSlider span:nth-child(1) {
  background: url("../images/posSlider01.png") no-repeat;
  background-size: 138px 53px; }

#mainBanner.swiper-container-horizontal > .swiper-pagination.posSlider span:nth-child(2) {
  background: url("../images/posSlider02.png") no-repeat;
  background-size: 138px 53px; }

#mainBanner.swiper-container-horizontal > .swiper-pagination.posSlider psan:nth-child(3) {
  background: url("../images/posSlider03.png") no-repeat;
  background-size: 138px 53px; }

#mainBanner .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: none;
  opacity: .5; }

#mainBanner .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 1; }

.pocketForcket h2 {
  font-weight: normal;
  padding: 37px 0 0;
  text-align: center;
  line-height: 26px;
  font-size: 24px; }

.pocketForcket h2 span.bg {
  position: relative;
  padding: 0 25px; }

.pocketForcket h2 span.bg:before {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/dda_left.png") no-repeat;
  width: 14px;
  height: 11px;
  background-size: 14px auto;
  content: ''; }

.pocketForcket h2 span.bg:after {
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/dda_right.png") no-repeat;
  width: 14px;
  height: 11px;
  background-size: 14px auto;
  content: ''; }

.pocketForcket h2 span {
  font-size: 20px;
  color: #222; }

.pocketForcket h2 span.block {
  display: block; }

.pocketForcket h2 em {
  color: #fb6257; }

.pocketForcket ul li {
  text-align: center;
  padding: 35px 0;
  border-top: 1px solid #eee; }

.pocketForcket ul li:first-child {
  border: 0; }

.pocketForcket ul li:nth-child(1) img {
  width: 172px; }

.pocketForcket ul li:nth-child(2) img {
  width: 128px; }

.pocketForcket ul li:nth-child(3) img {
  width: 147px; }

.pocketForcket ul li:nth-child(4) img {
  width: 125px; }

.pocketForcket ul li h3 {
  font-size: 18px;
  font-weight: normal; }

.pocketForcket ul li p {
  font-size: 16px;
  color: #888;
  line-height: 20px;
  margin: 8px 0 0; }

.main-swipe-wrap > .swiper-wrapper > .swiper-slide.swiper-service {
  background-color: #e8e8e8; }

.services {
  margin: 0 0 234px;
  position: relative;
  max-width: 100%; }

.service01 {
  width: 100%;
  height: 518px;
  background: url("../images/service01.jpg") no-repeat;
  background-size: cover; }

.services .textBox {
  position: absolute;
  height: 267px;
  bottom: -220px;
  left: 4.5%;
  right: 4.5%;
  background-color: #fff;
  padding: 35px 30px 0;
  overflow: hidden;
  z-index: 10; }

.services .textBox p {
  font-size: 14px;
  color: #888;
  line-height: 19px;
  -webkit-line-clamp: 6;
  letter-spacing: -.5px; }

.services .textBox h2 {
  font-size: 25px;
  color: #333;
  line-height: 24px;
  text-align: left;
  position: relative;
  font-weight: normal; }

.services .textBox h2 img {
  width: 126px; }

.services .textBox h2 em {
  display: block;
  color: #fb6257; }

.services .textBox h2 span {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 10px;
  color: #aaa;
  line-height: 12px;
  text-indent: -4px; }

.services .textBox .subHead {
  font-size: 18px;
  color: #333;
  line-height: 20px;
  margin: 16px 0 8px;
  letter-spacing: -.5px;
  font-weight: 600; }

.service01 .textBox h2 {
  float: left;
  padding: 0 100px 0 0; }

.service01 .textBox p {
  clear: both;
  float: left; }

.service02 {
  width: 100%;
  height: 674px;
  margin: 0; }

.services.service02 .textBox {
  height: 314px;
  padding: 35px 25px 0;
  bottom: 14px; }

.swiper-container-horizontal.service02_swipe > .swiper-pagination {
  top: 304px; }

.swiper-container-horizontal.service02_swipe .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: none;
  opacity: .5; }

.swiper-container-horizontal.service02_swipe .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 1; }

.service02_swipe {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.service02 li .imgBox {
  height: 394px; }

.service02 li.service02_swipe01 .imgBox {
  background: url("../images/service_pos01.jpg") no-repeat;
  background-size: cover; }

.service02 li.service02_swipe02 .imgBox {
  background: url("../images/service_pos02.jpg") no-repeat;
  background-size: cover; }

.service02 li.service02_swipe03 .imgBox {
  background: url("../images/service_pos03.jpg") no-repeat;
  background-size: cover; }

.services.service02 .textBox p {
  -webkit-line-clamp: 3;
  letter-spacing: -1px; }

.service02 .textBox .service_txt {
  height: 100%; }

.service02 .textBox .service_txt.on {
  display: block; }

.service02 .textBox .service_txt01 {
  background: url("../images/service02_txt01.png") no-repeat center bottom 33px;
  background-size: 238px auto; }

.service02 .textBox .service_txt02 {
  background: url("../images/service02_txt02.png") no-repeat center bottom 33px;
  background-size: 238px auto; }

.service02 .textBox .service_txt03 {
  background: url("../images/service02_txt03.png") no-repeat center bottom 33px;
  background-size: 238px auto; }

.services.service03 {
  margin: 0 0 260px; }

.services.service03 .textBox {
  height: 312px;
  bottom: -248px; }

.services.service03 .textBox p {
  -webkit-line-clamp: 9; }

.service03 {
  width: 100%;
  height: 363px;
  background: #81c3e0 url("../images/service02.jpg") no-repeat center 0;
  background-size: 320px auto; }

.service04 {
  width: 100%;
  height: 363px;
  background: #ffce2e url("../images/service03.jpg") no-repeat center 0;
  background-size: 320px auto; }

.services.service04 .textBox {
  height: 277px; }

.services.service04 .textBox p {
  font-size: 14px;
  color: #888;
  line-height: 19px;
  -webkit-line-clamp: 7;
  letter-spacing: -.5px; }

.services.service04 .textBox .subHead {
  font-size: 18px;
  color: #333;
  line-height: 20px;
  margin: 20px 0 12px;
  letter-spacing: -.5px; }

.serviceList {
  background-color: #fff; }

.serviceList-wrap {
  padding: 35px 0; }

.serviceList-wrap h2 {
  text-align: left;
  font-size: 25px;
  line-height: 24px;
  color: #333; }

.serviceList ul {
  padding: 10px 0 30px; }

.serviceList li {
  width: 33%;
  float: left;
  text-align: center;
  height: 80px;
  position: relative;
  margin: 20px 0 0; }

.serviceList li:nth-child(3n+1) {
  width: 34%; }

.serviceList li p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #555; }

.serviceList01 {
  border-bottom: 1px solid #e8e8e8; }

.serviceList01 li:nth-child(1) {
  background: url("../images/serviceList01_01.png") no-repeat center 0;
  background-size: 61px auto; }

.serviceList01 li:nth-child(2) {
  background: url("../images/serviceList01_02.png") no-repeat center 0;
  background-size: 61px auto; }

.serviceList01 li:nth-child(3) {
  background: url("../images/serviceList01_03.png") no-repeat center 0;
  background-size: 61px auto; }

.serviceList01 li:nth-child(4) {
  background: url("../images/serviceList01_04.png") no-repeat center 0;
  background-size: 61px auto; }

.serviceList01 li:nth-child(5) {
  background: url("../images/serviceList01_05.png") no-repeat center 0;
  background-size: 61px auto; }

.serviceList01 li:nth-child(6) {
  background: url("../images/serviceList01_06.png") no-repeat center 0;
  background-size: 61px auto; }

.serviceList-wrap.serviceList02-wrap {
  padding-top: 0; }

.serviceList02 li:nth-child(1) {
  background: url("../images/serviceList02_01.png") no-repeat center 0;
  background-size: 55px auto; }

.serviceList02 li:nth-child(2) {
  background: url("../images/serviceList02_02.png") no-repeat center 0;
  background-size: 55px auto; }

.serviceList02 li:nth-child(3) {
  background: url("../images/serviceList02_03.png") no-repeat center 0;
  background-size: 55px auto; }

.serviceList02 li:nth-child(4) {
  background: url("../images/serviceList02_04.png") no-repeat center 0;
  background-size: 55px auto; }

.serviceList02 li:nth-child(5) {
  background: url("../images/serviceList02_05.png") no-repeat center 0;
  background-size: 55px auto; }

.serviceList02 li:nth-child(6) {
  background: url("../images/serviceList02_06.png") no-repeat center 0;
  background-size: 55px auto; }

.serviceAdd {
  background-color: #65adcd;
  height: 470px;
  margin: 10px  4.5%;
  overflow: hidden; }

.serviceAdd .textBox {
  background: none;
  bottom: -100px;
  padding: 0 4%; }

.serviceAdd .textBox h2,
.serviceAdd .textBox h2 em {
  color: #fff; }

.serviceAdd .textBox p {
  color: #333; }

.serviceAdd .textBox .service_txt {
  display: none;
  height: 100%; }

.serviceAdd .textBox .service_txt.on {
  display: block; }

.swiper-container-horizontal.serviceAdd > .swiper-pagination {
  bottom: 180px; }

.swiper-container-horizontal.serviceAdd .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: none;
  opacity: .5; }

.swiper-container-horizontal.serviceAdd .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 1; }

.serviceAdd li.serviceAdd01 {
  background: url("../images/add_o2o01.png") no-repeat 50% 0%;
  background-size: 290px auto; }

.serviceAdd li.serviceAdd02 {
  background: url("../images/add_o2o02.png") no-repeat 50% 0%;
  background-size: 290px auto; }

.serviceAdd li.serviceAdd03 {
  background: url("../images/add_o2o03.png") no-repeat 50% 0%;
  background-size: 290px auto; }

.serviceAdd li.serviceAdd04 {
  background: url("../images/add_o2o04.png") no-repeat 50% 0%;
  background-size: 290px auto; }

.serviceAdd li.serviceAdd05 {
  background: url("../images/add_o2o05.png") no-repeat 50% 0%;
  background-size: 290px auto; }

.serviceAdd li.serviceAdd06 {
  background: url("../images/add_o2o06.png") no-repeat 50% 0%;
  background-size: 290px auto; }

.serviceBT {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 48px;
  z-index: 15; }

.serviceDays {
  clear: both;
  background-color: #f1be18;
  height: 605px;
  margin: 10px  4.5%;
  overflow: hidden; }

.serviceDays .textBox {
  display: none;
  background: none;
  bottom: -44px;
  padding: 0;
  width: 160%;
  left: 0; }

.serviceDays .swiper-slide-active .textBox {
  display: block; }

.serviceDays .textBox h2,
.serviceDays .textBox h2 em {
  color: #fff; }

.serviceDays .textBox p {
  color: #333; }

.serviceDays .textBox .service_txt {
  display: none;
  height: 100%; }

.serviceDays .textBox .service_txt.on {
  display: block; }

.swiper-container-horizontal.serviceBT .swiper-pagination {
  top: 350px;
  width: 100%; }

.swiper-container-horizontal.serviceBT .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: none;
  opacity: .5; }

.swiper-container-horizontal.serviceBT .swiper-pagination-bullet-active {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 1; }

.serviceDays li {
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.serviceDays li {
  opacity: .3; }

.serviceDays li.swiper-slide-active {
  opacity: 1;
  transition: .5s ease-in-out; }

.serviceDays li.serviceDays01 {
  background: url("../images/service_best01.png") no-repeat center 0;
  background-size: 160px auto; }

.serviceDays li.serviceDays02 {
  background: url("../images/service_best02.png") no-repeat center 0;
  background-size: 160px auto; }

.serviceDays li.serviceDays03 {
  background: url("../images/service_best03.png") no-repeat center 0;
  background-size: 160px auto; }

.serviceDays li.serviceDays04 {
  background: url("../images/service_best04.png") no-repeat center 0;
  background-size: 160px auto; }

.serviceDays li.serviceDays05 {
  background: url("../images/service_best05.png") no-repeat center 0;
  background-size: 160px auto; }

.serviceDays li.serviceDays06 {
  background: url("../images/service_best06.png") no-repeat center 0;
  background-size: 160px auto; }

.swiper-sns {
  background: url("../images/sns_bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 0 15px; }

.sns-list {
  padding: 105px 0 40px; }

.sns-list li {
  width: 48%;
  height: 215px;
  float: left;
  background-color: #fff;
  margin: 8px 0 0; }

.sns-list li:nth-child(even) {
  float: right; }

.sns-list li:first-child a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/sns01.jpg") no-repeat 50% 50%;
  background-size: cover; }

.sns-list li img {
  width: 100%; }

.swiper-sns > ul > li > a {
  display: block;
  position: relative; }

.swiper-sns > ul > li .icon {
  position: absolute;
  top: 10px;
  left: 10px; }

.swiper-sns > ul > li .icon img {
  width: 23px;
  height: auto; }

.swiper-sns > ul > li.clear {
  float: left;
  clear: both; }

.swiper-sns > ul > li .imgBox {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative; }

.swiper-sns > ul > li .imgBox img {
  width: 100%;
  height: 260px;
  margin-top: -130px; }

.swiper-sns > ul > li .textBox {
  padding: 0 10px;
  color: #333; }

.swiper-sns > ul > li .textBox h3 {
  font-size: 12px;
  font-weight: 600; }

.swiper-sns > ul > li .textBox .where {
  display: inline-block;
  height: 12px;
  line-height: 14px;
  font-size: 6px;
  color: #fff;
  padding: 0 4px;
  background-color: #6590e7;
  margin: 10px 0 6px; }

.swiper-sns > ul > li .textBox .where.insta {
  background-color: #2a5b83; }

.swiper-sns > ul > li .textBox .where.blog {
  background-color: #fdc223; }

.swiper-sns > ul > li.blog .more {
  clear: both;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  margin: 8px 15px 0;
  padding: 8px 0 0;
  font-size: 11px;
  color: #555; }

.swiper-sns > ul > li .likeRe {
  font-size: 0;
  margin: 5px 0 0; }

.swiper-sns > ul > li .likeRe p {
  font-size: 9px;
  color: #888;
  display: inline-block;
  line-height: 17px;
  margin-right: 5px; }

.swiper-sns > ul > li .likeRe p img {
  width: 8px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin: 0 3px 0 0; }

.customerUl {
  padding: 105px 0 10px; }

.customerUl > li {
  text-align: center; }

.customerUl > li p {
  font-size: 16px;
  padding: 14px 0 8px; }

.customerUl > li > ul,
.customerUl > li > ul > li {
  display: inline-block; }

.customerUl > li {
  padding: 35px 0; }

.customerUl > li:first-child .imgBox img {
  width: 216px; }

.customerUl > li:nth-child(2) .imgBox img {
  width: 270px; }

.customerUl > li:last-child .imgBox img {
  width: 216px; }

.customerUl > li > ul > li img {
  width: 103px;
  height: 36px;
  margin-left: 2px; }

.customerUl > li > ul > li:first-child img {
  margin-left: 0; }

.main-swipe-wrap > .swiper-wrapper > .swiper-slide.swiper-qa {
  background-color: #ececec; }

.qa-wrap {
  padding: 122px 15px 28px; }

.qa-wrap h2 {
  text-align: center;
  font-size: 23px;
  color: #333; }

.qa-wrap p.sub {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 10px 0;
  line-height: 17px;
  padding: 0 25px; }

.table-wrap table {
  width: 100%; }

.table-wrap .strong {
  text-align: right;
  font-size: 12px; }

.table-wrap tr:first-child th,
.table-wrap tr:first-child td {
  padding: 5px 0 0; }

.table-wrap th,
.table-wrap td {
  padding: 10px 0 0; }

.table-wrap th {
  font-size: 13px;
  text-align: left;
  color: #333;
  width: 75px; }

.table-wrap th em {
  vertical-align: middle;
  margin-right: 3px; }

.table-wrap td input[type="text"],
.table-wrap td input[type="email"],
.table-wrap td select,
.table-wrap td textarea {
  width: 100%;
  border: 1px solid #cfcfcf;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 10px; }

.table-wrap td input[type="email"] {
  width: 47%; }

.table-wrap td input[type="email"] {
  float: left; }

.table-wrap td input[type="email"]:last-child {
  float: right; }

.table-wrap td span {
  float: left;
  line-height: 30px;
  width: 6%;
  text-align: center; }

.table-wrap td span {
  font-size: 11px; }

.table-wrap td textarea {
  resize: none;
  height: 60px;
  padding: 5px 10px;
  line-height: 17px; }

.policyWrap {
  clear: both;
  border: 1px solid #ccc;
  border-left: 0;
  border-right: 0;
  padding: 17px 0;
  margin: 25px 0 0; }

.policyWrap .check {
  font-size: 15px;
  color: #888;
  line-height: 17px;
  display: block;
  position: relative;
  padding: 0 0 0 25px; }

.policyWrap .check input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background: url("../images/check_off.gif") no-repeat;
  background-size: 18px auto;
  margin-right: 3px;
  position: absolute;
  top: -1px;
  left: 0; }

.policyWrap .check input[type="checkbox"]:checked {
  background: url("../images/check_on.gif") no-repeat;
  background-size: 18px auto; }

.policyWrap .check_btn {
  background: url("../images/checked_on.png") no-repeat center center;
  background-size: 14px auto;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -16px; }

.policyWrap .check_btn.on {
  background: url("../images/checked_off.png") no-repeat center center;
  background-size: 14px auto; }

.policyWrap .policyTxt {
  display: none; }

.policyWrap .policyTxt.on {
  display: block; }

.policyWrap .policyTxt h3 {
  margin: 30px 0 0;
  font-size: 16px;
  color: #555; }

.policyWrap .policyTxt p.sub {
  margin: 10px 0 18px;
  font-size: 14px;
  color: #555;
  text-align: left;
  padding: 0; }

.policyWrap .policyTxt li {
  font-size: 13px;
  color: #999;
  line-height: 15px; }

.qa-wrap .qa_submit {
  text-align: center;
  padding: 25px 0 0; }

.qa-wrap .qa_submit a {
  width: 140px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  color: #fff;
  border-radius: 20px; }

.table-wrap td input,
.table-wrap td select,
.table-wrap td textarea {
  -webkit-appearance: none; }

#footer {
  clear: both;
  overflow: hidden;
  background-color: #333;
  padding: 22px 15px 11px;
  position: relative; }

#footer h2 img {
  width: 121px;
  vertical-align: middle; }

#footer .tel {
  display: inline-block;
  border-bottom: 1px solid #999;
  font-size: 12px;
  color: #999;
  margin: 15px 0 6px;
  padding: 0 0 3px; }

#footer .textBox {
  border-bottom: 1px solid #484848;
  padding: 0 0 16px; }

#footer .textBox p {
  font-size: 12px;
  color: #777;
  float: left;
  line-height: 16px; }

#footer .textBox p.clear {
  clear: both; }

#footer .textBox p.clear:after {
  background-color: #484848;
  width: 1px;
  height: 9px;
  content: '';
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  margin: 0 10px; }

#footer .textBox p span {
  margin: 0 4px; }

#footer .footerBottom {
  position: relative;
  padding: 11px 0 0; }

#footer .footerBottom li {
  float: left;
  margin-left: 17px; }

#footer .footerBottom li img {
  width: 25px; }

#footer .footerBottom li:first-child {
  margin-left: 0; }

#footer .footerBottom a.lang {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 0; }

#footer .footerBottom a.lang p {
  display: inline-block;
  font-size: 10px;
  color: #999; }

#footer .footerBottom a.lang p.kr {
  width: 19px;
  height: 19px;
  border: 1px solid #999;
  border-radius: 50%;
  text-align: center;
  line-height: 19px;
  margin-right: 6px; }

#langPop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 8888; }

#langPop .layer-inner {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: fixed;
  z-index: 50;
  top: 50%;
  width: 100%;
  margin-top: -85px; }

#langPop .wrap {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  z-index: 100; }

#langPop .wrap:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

#langPop .btn-close {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100; }

#langPop .btn-close img {
  width: 19px; }

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 7777;
  opacity: 0.9; }

#langPop .dimmed {
  z-index: 10; }

.langu li {
  text-align: center;
  margin: 25px 0; }

.langu li a {
  color: #5c5c5c;
  font-size: 18px;
  line-height: 20px;
  display: inline-block; }

.langu li.on a {
  border-bottom: 1px solid #fb6257;
  color: #fff;
  padding: 0 0 5px; }
